{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>
<body>
    <div class="box">
        <p align='center' id="title">LOGIN</p>

        <form action="" class="entry" id="form" method="post"></form>
            <p class="label" id="user">Username: </p>
            <input class="user" type="text">
            <p class="label" id="pass">Password: </p>
            <input class="pass" type="password">
            <p id="warning" align='center'></p>
            <button id="submit">Log-in</button>

        </div>
    </div>
    <script src="{% static 'login.js' %}"></script>
</body>
</html>