{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
</head>
<body>
    <div class="box">
        <p align='center' id="title">Register</p>

        <form action="register" class="entry" method="POST">
            {% csrf_token %}
            <p class="label" id="user">Username: </p>
            <input class="user" name="username" type="text">
            <p class="label" id="pass">Password: </p>
            <input class="pass" name="password" type="password">
            <p id="warning" align='center'></p>
            <button id="submit">Register</button>
        </form>

        </div>
    </div>
</body>
</html>