* {
    font-family: sans-serif;
    text-align: center;
    
}

body {
    display: grid;
    background-color: rgb(204, 204, 204);
    place-items: center;


}

#app {
    margin-top: 3.5vw;
    width: 70vw;
    place-items: center;
    min-width: 700px;
    border-radius: 20px;
    display: grid;
    grid-template-rows:0.2fr 0.2fr 0.1fr 0.1fr 1fr;
    height: 90vh;
    background-color: whitesmoke;
}

#title {
    font-weight: bolder;
    font-size: 40px;
    min-width: 300px;
    text-decoration: underline;

}


.input {
    border: none;
    appearance: none;
    background: rgb(255, 255, 255);
    outline: none;
    padding: 10px 25px;
    border-radius: 10px;
}

#textarea {
    height: 300px;
}

.button {
    margin-top: 20px;
    width: 120px;
    cursor: pointer;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(34, 34, 34);
    background-color:rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    transition: 200ms;
}

.button:hover {
    background-color:rgb(255, 255, 255);
    color: rgb(34, 34, 34);
}

#message {
    color: rgb(107, 33, 33);
    font-weight: bold;
    
    
}

#flex {
    display: flex;
    
}

a {
    margin-top: 10px;
    margin-right: 80%;
}