* {
    font-family: sans-serif;
    text-align: center;
    overflow: auto;
    
}

#center {
    text-align: center;
}
.app {
    display: grid;
    grid-template-rows: 300px 1fr;
    gap: 4vw;
    background-color:rgb(233, 233, 233);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.outer {
    width: 100vw;
    height:100%;
    display:grid;
    place-items: center;
}


.banner {

    display: grid;
    align-content: center;
    background-color: whitesmoke;
    height: 90%;
    border-radius: 10px;
    width:90%;
}


.button {
    margin-top: 20px;
    width: 200px;
    cursor: pointer;
    height: 60px;
    border-radius: 10px;
    border: 2px solid rgb(34, 34, 34);
    background-color:rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    transition: 200ms;
}

.button:hover {
    background-color:rgb(255, 255, 255);
    color: rgb(34, 34, 34);
}


#title {
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;

}

ul {
    justify-content: center;
    align-items: center;
}

.post {
    margin-bottom: 20px;
    width: 97%;
    height: 200px;
    background-color: white;
    grid-template-rows: 1.4fr 1fr 2fr;
    grid-template-columns: 85% 1fr 1fr;
    display: grid;
}

.box {
    height: 100%;
    width: 100%;
}

#ptitle {
    font-size: 30px;
    font-weight: bold;
    margin-left: 1vw;
    text-align: left;
}

#date {
    font-size: 15px;
    margin-left: 1vw;
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
}

#thepost {
    margin-left: 1vw;
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
}

#zero {
    padding: 20px;
    font-size: 3vw;
    font-weight: 900;
    text-shadow: 0px 0px 10px #a1a1a1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

#delete {
    margin: auto;
    width: 30px;
}

#edit {
    width: 30px;
    margin: auto;
}