* {
    font-family: sans-serif;
    text-align: center;
    overflow: auto;
    
}

#center {
    text-align: center;
}
.app {
    display: grid;
    grid-template-rows: 300px 1fr;
    gap: 4vw;
    background-color:rgb(233, 233, 233);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.outer {
    width: 100vw;
    height:100%;
    display:grid;
    place-items: center;
}


.banner {

    display: grid;
    align-content: center;
    background-color: whitesmoke;
    height: 90%;
    border-radius: 10px;
    width:90%;
}

#title {
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;

}

ul {
    justify-content: center;
    align-items: center;
}

.post {
    margin-bottom: 20px;
    width: 97%;
    height: 200px;
    background-color: white;
    grid-template-rows: 1.4fr 1fr 2fr;
    display: grid;
}

.box {
    height: 100%;
    width: 100%;
}

#ptitle {
    font-size: 30px;
    font-weight: bold;
    margin-left: 1vw;
    text-align: left;
}

#date {
    font-size: 15px;
    margin-left: 1vw;
    text-align: left;
}

#thepost {
    margin-left: 1vw;
    text-align: left;
}