html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 29, 29);
    width:100%;
    height:100%;
}

.box {
    grid-template-rows: 1fr 1fr 1fr 1fr 4fr;
    display: grid;
    min-width: 500px;
    min-height: 600px;
    border-radius: 2vw;
    margin-top: 2vw;
    width: 50vw;
    height:90vh;
    background-color: whitesmoke;
}

#title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4vw;
    margin-top: 2vw;
    font-weight: 700;
    grid-column-start: 1;
    grid-column-end: 3;
    text-decoration: underline;
    color: rgb(61, 61, 61);
}

.entry {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-rows:1fr 1fr 0.4fr 1fr 4fr;
    grid-template-columns:1fr 4fr;
}

.label {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: rgb(75, 75, 75);
    margin-left: 6vw;
}

.user {
    min-width: 300px;
    width: 30vw;
    height: 50px;
    border: none;
    appearance: none;
    outline: none;
    border-radius: 2vw;
    padding: 10px;
}

.pass {
    min-width: 300px;
    width: 30vw;
    height: 50px;
    border: none;
    appearance: none;
    outline: none;
    border-radius: 2vw;
    padding: 10px;
}

#submit {
    grid-column-end: 3;
    grid-column-start: 1;
    margin: auto;
    padding: 20px 90px;
    border-radius: 50px;
    border: 2px solid whitesmoke;
    background: rgb(27, 27, 27);
    color: whitesmoke;
    font-size: 2vw;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 200ms;
}

#submit:hover {
    border: 2px solid rgb(27, 27, 27);
    background: white;
    color: rgb(27, 27, 27);
}

#warning {
    grid-column-end: 3;
    grid-column-start: 1;
    font-size: 1vw;
    color: rgb(68, 0, 0);
}